

/* Gallery style */

.galleryDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin-left: 40px;
}

img{
    width: 320px;
    height: 533px;
    margin-right: 20px;
}

.mainImgSoloDiv{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
}

.imgSoloDiv img{
    width: 550px;
    height: auto;
    margin-left: 150px;
    margin-right: 40px;
}

.tagItem{
    display: flex;
    flex-direction: row;
}

.tagItem button{
    margin-left: 40px;
}
