

/* Gallery style */

.galleryDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin-left: 40px;
}

img{
    width: 320px;
    height: 533px;
    margin-right: 20px;
}
